SAUCEDEMO_URL=https://www.saucedemo.com
STANDARD_USER=your_user
STANDARD_PASS=your_pass
LOCKED_USER=locked_out_user
LOCKED_PASS=your_pass
PROBLEM_USER=problem_user
PROBLEM_PASS=your_pass
PERF_USER=performance_glitch_user
PERF_PASS=your_pass
APP_BASE_URL=http://localhost:8000
